.searchBar {
    text-align: center;
}

.favoritesSection {
    text-align: center;
}

.noResultsFound {
    text-align: center;
}

.bookRow{
    padding-left: 40px;
    padding-right: 40px;
}